# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/

# Production Builds
dist/
dist-ssr/
*.local

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS Junk
.DS_Store
Thumbs.db
Desktop.ini

# Editor & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#files which are created for explainations
*explanation*.md
*EXPLANATION*.md
*MATH*.md
*PLAN*.md

