*{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}




:root {
    --primary-color: #387ED1;
    --secondary-color:#424242; 
    --text-color: #212529;
    --text-muted: #6c757d;
}

.para{
    font-size: 1.05rem;
    font-weight: 400; 
    line-height: 1.7 
}